.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  background: linear-gradient(270deg, #0065b3 -2.69%, #c73ecc 110.23%);
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.9px;
}
